div {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  form {
    gap: 8px;
    display: flex;
    flex-direction: column;

    input {
      width: 250px;
      height: 32px;
      box-sizing: border-box;
      border: 1px solid #e5e4e4;
      background-color: #f6f6f6;
    }

    button {
      height: 32px;
      border: none;
      color: white;
      cursor: pointer;
      background-color: #ca00ff;
    }
  }
}
